.colorPicker-all {
    width: 100%;
    color: #575757;
}

.blueBackground {
    background: #167fac;
}

.blueBackground:hover {
    background: #272e52;
}

.blueColor {
    color: #167fac;
}

.stars {
    font-size: 20px;
}

.colorPicker-productName {
    padding-top: 5px;
    font-size: 20px;
    height: 30px;
}

.colorPicker-review {
    flex-wrap: wrap;
    display: flex;
    font-size: 14px;
}

.colorPicker-color-div {
    margin-top: 5px;
}

.colorPicker-colorButton {
    cursor: pointer;
    border-color: #d3d0d0;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    margin-right: 5px;
    height: 30px;
    width: 44px;
}

.colorPicker-selectedButton {
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.colorPicker-sizeTable {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.colorPicker-sizeHeader {
    width: 15%;
    font-size: smaller;
    font-weight: bold;
}

.colorPicker-sizeColumn {
    text-align: center;
    width: 9.4%;
    font-size: smaller;
    font-weight: bold;
}

.colorPicker-orderInput {
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
    height: 30px;
    width: 80%;
}

.colorPicker-size,
.colorPicker-price,
.colorPicker-salePrice,
.colorPicker-available {
    padding-left: 5px;
    padding-right: 5px;
}

.colorPicker-size {
    background: grey;
    color: white;
}

.colorPicker-price,
.colorPicker-available {
    color: grey;
}

.colorPicker-salePrice {
    color: #167fac;
}

.colorPicker-empty {
    color: white;
}

.colorPicker-addToCart,
.colorPicker-addToList {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    font-size: 19px;
    width: 100%;
    height: 40px;
}

.colorPicker-addToCart {
    color: white;
}

.colorPicker-listSelect {
    width: 100%;
    height: 40px;
}

.colorPicker-addToList {
    background: #e7e7e7;
    color: #575757;
}

.colorPicker-addToList:hover {
    color: #e7e7e7;
    background: #575757;
}