/* tabcontainer uses display: block to make the tabs appear on the same line
width: 400px sets the width of the tab container
position: absolute sets the position of the tab container
bottom: 0 sets the bottom margin of the tab container
left: 1360px sets the left margin of the tab container
*/
.tabcontainer {
    display: block;
    width: 840px;
    position: relative;
    margin-bottom: 30%;
    margin-top: 4%;
}

/* tabheader uses display: flex to make the tabs appear on the same line */
.tabheader {
    display: flex;
}

/* secondlabel uses margin-left: 5px to add space between the tabs */
#secondlabel {
    margin-left: 5px;
}

/* tab uses padding: 10px 20px to add space between the tabs
  background: #e0e0e0 sets the background color of the tabs
  font: 13px, Lato, Arial, sans-serif sets the font of the tabs
  color: #575757 sets the font color of the tabs
  cursor: pointer sets the cursor to a pointer when hovering over the tabs
  border: 1px solid #000000 sets the border color of the tabs
  border-radius: 3px 3px 0 0 sets the border radius of the tabs
  margin: 0, 0, 0, 0 sets the margin of the tabs
  */
.tab {
    padding: 10px 20px;
    background: #e0e0e0;
    font: 13px, Lato, Arial, sans-serif;
    color: #575757;
    cursor: pointer;
    border: 1px solid #575757;
    border-radius: 3px 3px 0 0;
    margin: 0 0 0 0;
}

/* Action when tab is clicked */

/*active-tab uses background: white to change the background color of the active tab
  border: 1px solid #000000 sets the border color of the active tab
  border-bottom: 1px solid transparent sets the border color of the active tab
  */
.active-tab {
    background: #ffff;
    border: 1px solid #575757;
    border-bottom: 1px solid transparent;
}

/* tab content style */
.content {
    
    display: none;
    border: 1px solid #575757;
    border-radius: 3px;
    margin-top: -1px;
    padding: 10px;
}

/* active content uses display: block to show the content of the active tab in the tab container */
.active-content {
    display: block;
}

/* tabinfo style */

.tabcontent ul{
 list-style-type: disc;
}

.Detail li {
    color: #575757;
    font: 14px Arial, sans-serif;
    padding: 0px 0px 5px;
    text-align: left;

}

.charttable th {
    color: #4f4f4f;
    font: 14px,  Arial, sans-serif;
    background: #dbdbdb;
    padding: 2px 10px;
}

.charttable tr {
    border: solid 1px;
    border-color:#4f4f4f;
    border-left: none;
    border-right: none;
    border-bottom: none;
}


.charttable td {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    font-size: 14px;
    color: #4f4f4f;
}

.charttable {
    width: 100%;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    border-collapse: collapse;
}