.footer{
    height: 250px;
}

.aboutuslinks{
    width: 15%;
    height: 180px;
    float: left;
}

.helpcenterlinks{
    top: -2px;
    position: relative;
    width: 15%;
    display: inline-block;
    right: -100px;
    height: 235px;
    bottom: -10px;
}

.newsletter{
    position: relative;
    display: inline-block;
    width: 45.6%;
    right: -300px;
    top: -150px;
}

a{
    display: block;
    position: relative;
    margin-bottom: 5px;
    color: black;
    text-decoration: none;   
}

a:hover { 
    color: blue;
 }

h3{
    position: relative;
    width: 70%;
    height: 25px;
    color: #167FAC;
    font-size: x-large;
    margin-bottom: 10px;
}

.subscribebtn{
    background-color: #167FAC;
    color: white;
    border-radius: 5px;
    height: 33px;
    width: 15%;
    border-left: none;
    margin-left: -10px;
}

.subscribebtn:hover{
    box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
}

.newsletterinput{
    border-radius: 5px;
    padding: 5px;
    width: 80%;
    height: 20px;
    border-right: none;
}

.fit-picture{
    margin-right: 25px;
}