.Overall-Review-Component {
  margin-top: -20%;
  margin-bottom: -7%;
}

.buttondiv {
  margin-top: -5%;
}

.starRating {
  position: relative;
  color: gray;
}

.overallReviewContainer {
  padding: 3%;
  text-align: center;
}

.overallRatings {
  color: #6A6C77;
  margin-top: 12px;
  font-size: 16px;
  display: inline-block;
  margin-right: 60%;
  width: 2%;
}

.innerContainer {
  width: 100%;
  text-align: center;
}

.ratingBar1Container{
  margin-right: -2%;
  margin-top: -25px;
}

.ratingBar1 {
  display: inline-block;
  width: 2%;
  height: 6px;
  background-color: #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  margin-right: 1px;
  background-color: #167fac;
}

.ratingBar2 {
  display: inline-block;
  width: 2%;
  height: 6px;
  background-color: #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  margin-right: 1px;
  background-color: #167fac;
}

.fit {
  font-size: 16px;
  width: 3%;
  display: inline-block;
  /* margin-left: 15px; */
  margin-top: -25px;
  margin-left: 2%;
  margin-bottom: 5%;
  color: gray;
}
.trueToSize {
  font-size: 16px;
  color: #6A6C77;
  display: inline-block;
  margin-left: 4%;
  font-weight: 600;
  position: relative;
}

.quality {
  font-size: 16px;
  margin-right: 2%;
  color: gray;
  margin-left: 30px;
}

