.smallbar1{
  width: 12%;
  height: 4px;
  background-color: #ccc;
  border-radius: 0px;
  margin-bottom: 12px;
  margin-left: 3px;
  margin-right: 2px;
    background-color: red;
    border: solid 1px #808080 ;
  }

  .smallbar2{
    width: 12%;
    height: 4px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 12px;
    margin-right: 2px;
    background-color: white;
    border: solid 1px #808080 ;
  }

  .smallbar3{
    width: 12%;
    height: 4px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 12px;
    margin-right: 2px;
    background-color: white;
    border: solid 1px #808080 ;
  }

  .smallbar4{
    width: 12%;
    height: 4px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 12px;
    margin-right: 2px;
    background-color:white;
    border: solid 1px #808080 ;
  }

  .smallbar5{
    width: 12%;
    height: 4px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 12px;
    margin-right: 2px;
    background-color: white;
    border: solid 1px #808080 ;
  }

  .truebar1{
    width: 12%;
    height: 4px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 12px;
    margin-left: 5px;
    margin-right: 2px;
    background-color:white;
    border: solid 1px #808080 ;
  }

  .truebar2{
    width: 12%;
    height: 4px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 12px;
    margin-right: 2px;
    background-color: white;
    border: solid 1px #808080 ;
  }

  .truebar3{
    width: 12%;
    height: 4px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 12px;
    background-color: green;
    border: solid 1px #808080 ;
  }

  .truebar4{
    width: 12%;
    height: 4px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 12px;
    margin-right: 2px;
    background-color:white;
    border: solid 1px #808080 ;
  }

  .truebar5{
    width: 12%;
    height: 4px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 12px;
    margin-right: 2px;
    background-color: white;
    border: solid 1px #808080 ;
  }

  .bigbar1{
    width: 12%;
    height: 4px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 12px;
    margin-left: 23px;
    margin-right: 2px;
    background-color:white;
    border: solid 1px #808080 ;
  }

  .bigbar2{
    width: 12%;
    height: 4px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 12px;
    margin-right: 2px;
    background-color: white;
    border: solid 1px #808080 ;
  }

  .bigbar3{
    width: 12%;
    height: 4px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 12px;
    margin-right: 2px;
    background-color: white;
    border: solid 1px #808080 ;
  }

  .bigbar4{
    width: 12%;
    height: 4px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 12px;
    margin-right: 2px;
    background-color:white;
    border: solid 1px #808080 ;
  }

  .bigbar5{
    width: 12%;
    height: 4px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 12px;
    margin-right: 2px;
    background-color: red;
    border: solid 1px #808080 ;
  }