.productImage-all {
    height: 500px;
}

.productImage-top {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    display: flex;
    height: 80%;
    width: 80%;
}

.productImage-top-left,
.productImage-top-right {
    position: absolute;
    padding-top: 190px;
    font-size: 30px;
    width: 10%;
}

.productImage-top-left {
    left: 0;
}

.productImage-top-right {
    left: 275px;
}

.productImage-middle {
    flex-wrap: wrap;
    display: flex;
}

.productImage-bottom {
    text-align: center;
    margin-top: 10px;
    width: 80%;
}

.productImage-bottom-large {
    font-size: 20px;
    margin-bottom: 10px;
}

.productImage-bottom-small {
    font-size: smaller;
}

.productImage-main {
    height: 400px;
    width: 300px;
}

.productImage-thumbnail {
    height: 100x;
    width: 75px;
}

.IMG_magnifyer {
    cursor: zoom-in;
    height: 400px;
    width: 300px;
}