.scale1bar1{
  width: 10%;
  height: 6px;
  border-radius: 0px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 2px;
    background-color: #167FAC;
    
  }

  .scale1bar2{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
  }

  .scale1bar3{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
  }

  .scale1bar4{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
    
  }

  .scale1bar5{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
  }

  .scale2bar1{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 2px;
    background-color: #167FAC;
    
  }

  .scale2bar2{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
    background-color: #167FAC;
  }

  .scale2bar3{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
  }

  .scale2bar4{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
  }

  .scale2bar5{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
  }

  .scale3bar1{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 2px;
    background-color: #167FAC;
    
  }

  .scale3bar2{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
    background-color: #167FAC;
  }

  .scale3bar3{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
    background-color:#167FAC;
  }

  .scale3bar4{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
  }

  .scale3bar5{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
  }

  .scale4bar1{
    width: 10%;
    height: 6px;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 2px;
    background-color: #167FAC;
    
  }

  .scale4bar2{
    width: 10%;
    height: 6px;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
    background-color: #167FAC;
  }

  .scale4bar3{
    width: 10%;
    height: 6px;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
    background-color:#167FAC;
  }

  .scale4bar4{
    width: 10%;
    height: 6px;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
    background-color:#167FAC;
  }

  .scale4bar5{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
  }

  .scale5bar1{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 2px;
    background-color: #167FAC;
    
  }

  .scale5bar2{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
    background-color: #167FAC;
  }

  .scale5bar3{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
    background-color:#167FAC;
  }

  .scale5bar4{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 2px;
    background-color:#167FAC;
  }

  .scale5bar5{
    width: 10%;
    height: 6px;
    background-color: #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    background-color: #167FAC;
  }